/* image slider  */
.imgcont{
    background-color: rgb(252, 218, 223);
    margin-top: 20px;
    padding-bottom: 40px;
    border-radius: 20px;
}
.imgcont .imgcon{
    width: 90%;
    margin-left: 60px;
    padding-top: 40px;
}
.imgcont .imgcon .heads{
    padding-top: 40px;
}
.imgcont .imgcon .latterhead{
    font-size: 55px;
    font-family: sans-serif;
}
.imgcont .imgcon .latter{
    font-size: 25px;
    font-family: sans-serif;
    color: gray;
    font-weight: bolder;
    margin-top: 40px;
}
.imgcont .imgcon  .sendmail{
    margin-top: 40px;
    background-color: white;
    width: fit-content;
    border-radius: 30px;
}
.imgcont .imgcon  .sendmail:hover{
    background-color: rgb(192, 250, 211);
}
.imgcont .imgcon  .sendmail i{
    font-size: 20px;
    width:fit-content;
    height: fit-content;
    position: relative;
}
.imgcont .imgcon  .sendmail input{
    border: none;
    outline:none;
    font-size:18px;
    padding: 12px 30px; 
    margin-left: -30px;
}
.imgcont .imgcon  .sendmail input:hover{
    background-color: rgb(192, 250, 211);
    color: black;
}
.imgcont  .mybtn{
    background-color: rgb(48, 155, 105);
    border: none;
    font-size: 25px;
    color: white;
    padding: 7px 40px;
    position: absolute;
    top: 523px;
    left: 330px;
    border-radius: 30px;
}


/* Featured Categories  */
.futcontainer{
    margin-top: 50px;
}
.futcontainer .futhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.futcontainer .futhead ul{
    margin-right:300px;
    list-style-type: none;
    width: 34%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.futcontainer .futhead ul li{
    font-size: 16px;
    font-weight: bolder;
}
.futcontainer .futhead ul li:hover{
    transition: 400ms;
    margin-top: -10px;
    color:rgb(48, 155, 105);
}
.futcontainer .futhead .arrow .ar{
   background-color: gray;  
   color:black;
   padding: 10px 5px;
   border-radius: 50%;
}
.futcontainer .futhead .arrow .ar:hover{
    background-color: black;
    color: white;
    font-weight: bolder;
}

/* ----------<!-- image for small -->-------------    */
.smallimagecontainer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   width: 95%;
   margin-left: 28px;
   margin-top:20px;
   transition: 400ms;
}
.smallimagecontainer .imgsforsmall:hover{
    /* border: 1px solid rgb(164, 207, 187); */
    box-shadow: 1px 1px 10px rgb(170, 170, 170);
}
.smallimagecontainer .imgsforsmall{
   width: 100px;
   height: 150px;
   background-color: rgb(238, 197, 197);
   margin-left: 5px;
   border-radius: 10px;
} 
.smallimagecontainer .imgsforsmall img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;
    transition: 400ms;
}
.smallimagecontainer .imgsforsmall img:hover{
      transform: scale(1.3); 
}
.smallimagecontainer .imgsforsmall .img-title{
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: bolder;
}
.smallimagecontainer .imgsforsmall .img-price{
    font-size: 14px;
    text-align: center;
    color:gray;
    font-weight: bolder;
}

/* <!-- big images --> */

.bigimage{
    display: flex;
    align-items: center;
    justify-content: center;
}
   /* ----Image-one--------- */

.bigimage .bigimg1{
    background-image: url('https://ecommerce-nest-vrx8.vercel.app/assets/images/banner-1.png');
    width: 500px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    padding-bottom: 50px;
    margin-left: 20px;
    border-radius: 10px;
}
.bigimage .bigimg1 h2{
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 30px;
    
}
.bigimage .bigimg1 a{
    background-color:rgb(48, 155, 105) ;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 14px;
    margin-left: 30px;
    padding: 3px 10px;
    border-radius: 10px;
    color: white;
}
.bigimage .bigimg1 a:hover{
    font-weight: bolder;
    background-color: rgb(70, 247, 84);
   
}

   /* ----Image-Two--------- */
   
.bigimage .bigimg2{
    background-image: url('https://ecommerce-nest-vrx8.vercel.app/assets/images/banner-2.png');
    width: 500px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    padding-bottom: 50px;
    margin-left: 20px;
    border-radius: 10px;
}
.bigimage .bigimg2 h2{
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 30px;
    
}
.bigimage .bigimg2 a{
    background-color:rgb(48, 155, 105) ;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 14px;
    margin-left: 30px;
    padding: 3px 10px;
    border-radius: 10px;
    color: white;
}
.bigimage .bigimg2 a:hover{
    font-weight: bolder;
    background-color: rgb(70, 247, 84);
   
}
     
   /* ----Image-Three--------- */

   
.bigimage .bigimg3{
    background-image: url('https://ecommerce-nest-vrx8.vercel.app/assets/images/banner-3.png');
    width: 500px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    padding-bottom: 50px;
    margin-left: 20px;
    border-radius: 10px;
}
.bigimage .bigimg3 h2{
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 30px;
    
}
.bigimage .bigimg3 a{
    background-color:rgb(48, 155, 105) ;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 14px;
    margin-left: 30px;
    padding: 3px 10px;
    border-radius: 10px;
    color: white;
}
.bigimage .bigimg3 a:hover{
    font-weight: bolder;
    background-color: rgb(70, 247, 84); 
}
.bigimage .bigimg1  h2:hover{
    transition: 400ms;
    transform: translateY(-5px);
}
.bigimage .bigimg2  h2:hover{
    transition: 400ms;
    transform: translateY(-5px);
}
.bigimage .bigimg3  h2:hover{
    transition: 400ms;
    transform: translateY(-5px);
}

/* <!-------------Popular Product ---------> */
.popular{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.popular ul{
    width: 50%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style-type: none;
    font-weight: bolder;
    cursor: pointer;
}
.popular ul li:hover{
  color: rgb(48, 155, 105);
  margin-top: -5px;
  transition: 400ms;
}
